// SPDX-FileCopyrightText: 2024 Carl Schwan <carl@carlschwan.eu>
// SPDX-License-Identifier: LGPL-3.0-or-later

.eco {
  &-hero {
    min-height: 400px;
    color: white;
    position: relative;
    display: flex;
    align-items: center;

    &-background {
      position: absolute;
      height: 100%;
      width: 100%;
      background: url('/eco-hero.jpg');
      filter: brightness(0.4);
      z-index: 1;
    }

    .container {
      z-index: 2;
    }
  }

  .card {
    text-align: center;

    &-icon {
      height: 64px;
      width: 64px;
      align-self: center;
    }
  }
}

#eco {
  max-width: 800px;
}
