/**
 * SPDX-FileCopyrightText: (c) 2020 Carl Schwan <carl@carlschwan.eu>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

#okular img {
  width: 600px;
}

#features img.shadowed {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086)
}

#features figcaption {
  color: rgb(49, 54, 59);
  text-align: center;
  margin-top: 5px;
}

main {
  font-size: 16px;

  section {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
  }
}

h1 {
  font-weight: bold;
}
@media (min-width: 1100px) {
  p {
    font-size: 20px;
  }
  .laptop-with-overlay {
    max-width: 750px;
    top: 50%;
    justify-content: center;
  }
}
