{{/*
SPDX-FileCopyrightText: Pablo Marcos <kde@pablomarcos.me>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}
{{ define "head-import" }}
{{ $style := resources.Get "scss/index.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}
{{ define "main" }}
<main id="home">
  <section class="section-blue mt-0 pt-1 pb-4" id="okular">
    <div class="container text-center">
      <h1 id="okular-title">{{ .Site.Title }}</h1>
      <h2>{{ i18n "Home.motto"}}</h2>
      <p style="max-width: 600px" class="ms-auto me-auto">{{ .Site.Params.description }}</p>
      <figure class="mx-auto" style="max-width: 600px">
        <img class="img-fluid" alt={{ i18n "Home.alt_img"}} src="/images/screenies/okular-main.png" width=1069 height=851 />
        <figcaption>{{ i18n "Home.figcaption" | markdownify}}</figcaption>
      </figure>
      <div><a href="{{ "/download" | relLangURL }}" class="noblefir">{{ i18n "Home.downloadbutton"}}</a></div>
    </div>
  </section>

  <section class="section-green py-4">
    <div class="container">
      <h2 class="mb-3 h1">{{ i18n "Home.recentnews" }}</h2>
      <div class="row">
      {{ $pages := (.Site.GetPage "/news").RegularPagesRecursive }}
      {{ range .Site.Home.Translations }}
      {{ $pages = $pages | lang.Merge (.Site.GetPage "/news").RegularPagesRecursive }}
      {{ end }}
      {{ range first 4 (where $pages "Params.hidden" "ne" "true") }}
        <div class="col-12 col-md-6 mb-5">
          <div class="text-muted">{{ partial "i18n_date.html" . }}</div>
          <h3 class="mt-1 h4">{{ .Title | safeHTML}}</h3>
          <div class="post-entry mt-1">
            {{ if .Description }}
              {{ .Description }}
            {{else}}
              {{ .Summary | markdownify }}
            {{end}}
            {{ if .Truncated }}
              <a href="{{ .RelPermalink }}" class="d-block mt-2">{{i18n "Home.recentnews.read-more" }}</a>
            {{ end }}
          </div>
        </div>
      {{end}}
      </div>
      <a href="{{ "/news" | relLangURL }}" class="learn-more mt-3" style="font-weight: bold;">&#x1F4E2; {{ i18n "Home.recentnews.view-all" }}</a>
    </div>
  </section>

  <section id="kde-connect">
    <div class="container text-center" style="max-width: 600px">
      <h1>{{ i18n "Home.SupportsFormats"}}</h1>
      <img src="/images/okular-format-support.svg" class="img-fluid" style="max-height: 100px" height=300 width=1000 />
      <p>{{ i18n "Home.SupportsFormats.description"}}</p>
      <p>
        <a class="learn-more mt-3" href="{{ "/formats" | relLangURL }}"> {{ i18n "Home.SupportsFormats.seemore"}}</a>
      </p>
   </div>
  </section>

  <section class="section-blue" id="download">
    <div class="container text-center">
      <h1>{{ i18n "Home.try_it"}}</h1>
      <p>
       <a class="learn-more mt-3" href="{{ "/download/" | relLangURL }}">{{ i18n "Home.download_it"}}</a>
      </p>
   </div>
  </section>

  <section id="features">
    <div class="container my-4">
      <h1 class="mb-3 text-center">{{ i18n "Home.advancedinterface"}}</h1>
      <p class="text-center">{{ i18n "Home.advancedinterface.features"}}</p>
      <div class="py-5">
        <div class="row">
          <div class="col-lg-8">
            <img src="/images/screenies/okular-annotations-main.png" alt="{{ i18n "Home.advancedinterface.alt_img"}}" class="img-fluid shadowed" width=750 height=321 />
          </div>
          <div class="col-lg-4 d-flex flex-column justify-content-center">
            <h3>{{ i18n "Home.annotate"}}</h3>
            <p> {{ i18n "Home.annotate.description"}}</p>
          </div>
        </div>
      </div>
      <div class="py-5">
        <div class="row align-items-center">
          <div class="col-lg-7 d-flex flex-column justify-content-center">
            <h3>{{ i18n "Home.selectandview"}}</h3>
            <p>{{ i18n "Home.selectandview.description"}}</p>
          </div>
          <div class="col-lg-5 d-flex flex-column">
            <div>
              <img src="/images/screenies/okular-selection-mode.png" alt="{{ i18n "Home.selectandview.alt_img1"}}" class="img-fluid mb-2 shadowed" width=465 height=236/>
            </div>
            <div>
              <img src=" /images/screenies/okular-magnifier.png" alt="{{ i18n "Home.selectandview.alt_img2"}}" class="img-fluid shadowed" width=515 height=267/>
            </div>
          </div>
        </div>
      </div>
      <div class="py-5">
        <div class="row">
          <div class="col-lg-5 d-flex">
            <div>
              <img src="/images/screenies/okular-sidebar.png" alt="{{ i18n "Home.ataglance.alt_img1"}}" class="img-fluid mx-2 shadowed" width=219 height=439/>
            </div>
            <div>
              <img src=" /images/screenies/okular-thumnails.png" alt="{{ i18n "Home.ataglance.alt_img2"}}" class="img-fluid shadowed" width=220 height=505/>
            </div>
          </div>
          <div class="col-lg-7 d-flex flex-column justify-content-center">
            <h3>{{ i18n "Home.ataglance"}}</h3>
            <p>{{ i18n "Home.ataglance.description"}}</p>
          </div>
        </div>
      </div>
      <div class="py-5">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center">
            <h3>{{ i18n "Home.esign"}}</h3>
            <p>{{ i18n "Home.esign.description"}}</p>
          </div>
          <div class="col-lg-6">
            <img src=" /images/screenies/okular-signatures.png" alt="{{ i18n "Home.esign.alt_img"}}" class="img-fluid shadowed" style="width: 600px" width=805 height=546/>
          </div>
        </div>
      </div>
      <div class="py-5">
        <h3>{{ i18n "Home.freesoftware"}}</h3>
        <div class="row">
          <div class="col-lg-10">
            <p>{{ i18n "Home.freesoftware.description" | markdownify}}</p>
          </div>
          <div class="col-lg-2">
            <a href="https://pdfreaders.org/">
              <img class="img-fluid shadowed" src="/images/pdfreaders.org.png" alt="{{ i18n "Home.freesoftware.alt_img"}}"/>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h3>{{ i18n "home.rees" }}</h3>
          <p>{{ i18n "home.rees.description" | markdownify }}</p>
        </div>
        <div class="col-lg-6">
          {{- $link := cond (eq .Language.Lang "de") "https://www.blauer-engel.de/de/produkte/kde-okular" "https://www.blauer-engel.de/en/products/kde-okular" }}
          {{- $imgSrc := cond (eq .Language.Lang "de") "/images/rees-de.svg" "/images/rees-en.svg" }}
          <a href="{{ $link }}">
            <img src="{{ $imgSrc }}" alt="{{ i18n "home.rees.alt" }}"/>
          </a>
        </div>
      </div>
  </section>
</main>
{{ end }}
